.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 400px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#slideshowu1736
{
	z-index: 2;
	width: 0.01px;
	height: 574px;
	left: -40px;
	position: relative;
}

#u1776-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 205px;
}

#u1776-4popup
{
	z-index: 3;
}

#u1740
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u1740popup
{
	z-index: 7;
}

#u1973
{
	z-index: 8;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1982
{
	z-index: 10;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1991
{
	z-index: 12;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2000
{
	z-index: 14;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2009
{
	z-index: 16;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2018
{
	z-index: 18;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2027
{
	z-index: 20;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2036
{
	z-index: 22;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2045
{
	z-index: 24;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2054
{
	z-index: 26;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2063
{
	z-index: 28;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2072
{
	z-index: 30;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2081
{
	z-index: 32;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2090
{
	z-index: 34;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2099
{
	z-index: 36;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2108
{
	z-index: 38;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2117
{
	z-index: 40;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1973_img,#u1982_img,#u1991_img,#u2000_img,#u2009_img,#u2018_img,#u2027_img,#u2036_img,#u2045_img,#u2054_img,#u2063_img,#u2072_img,#u2081_img,#u2090_img,#u2099_img,#u2108_img,#u2117_img
{
	padding-left: 3px;
	padding-right: 3px;
}

#u2182
{
	z-index: 42;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2182_img
{
	padding-left: 2px;
	padding-right: 3px;
}

#u1795
{
	position: absolute;
	width: 480px;
	top: 410px;
}

#u1795popup
{
	z-index: 44;
}

#u1976
{
	z-index: 45;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1976:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1985
{
	z-index: 47;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u1985:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1994
{
	z-index: 49;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u1994:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u2003
{
	z-index: 51;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u2003:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u2012
{
	z-index: 53;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u2012:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u2021
{
	z-index: 55;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u2021:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u2030
{
	z-index: 57;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u2030:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1976.SSSlideLinkSelected,#u1985.SSSlideLinkSelected,#u1994.SSSlideLinkSelected,#u2003.SSSlideLinkSelected,#u2012.SSSlideLinkSelected,#u2021.SSSlideLinkSelected,#u2030.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u2039
{
	z-index: 59;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u2039:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u2048
{
	z-index: 61;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u2048:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u2057
{
	z-index: 63;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u2057:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u2066
{
	z-index: 65;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u2066:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u2075
{
	z-index: 67;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u2075:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u2084
{
	z-index: 69;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u2084:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u2093
{
	z-index: 71;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 420px;
}

#u2093:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u2039.SSSlideLinkSelected,#u2048.SSSlideLinkSelected,#u2057.SSSlideLinkSelected,#u2066.SSSlideLinkSelected,#u2075.SSSlideLinkSelected,#u2084.SSSlideLinkSelected,#u2093.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u2102
{
	z-index: 73;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u2102:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u2111
{
	z-index: 75;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u2111:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u2120
{
	z-index: 77;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 140px;
}

#u2120:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u2185
{
	z-index: 79;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 210px;
}

#u2185:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u2102.SSSlideLinkSelected,#u2111.SSSlideLinkSelected,#u2120.SSSlideLinkSelected,#u2185.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 110px -10000px 0px 0px;
}

#u1830-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 175px;
}

#u1830-4popup
{
	z-index: 81;
}

#u1739-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 275px;
}

#u1739-4popup
{
	z-index: 85;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

