.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 400px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#slideshowu1005
{
	z-index: 2;
	width: 0.01px;
	height: 620px;
	left: -40px;
	position: relative;
}

#u1126-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 205px;
}

#u1126-4popup
{
	z-index: 3;
}

#u1065
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u1065popup
{
	z-index: 7;
}

#u1267
{
	z-index: 8;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1276
{
	z-index: 10;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1285
{
	z-index: 12;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1294
{
	z-index: 14;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1303
{
	z-index: 16;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1312
{
	z-index: 18;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1321
{
	z-index: 20;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1330
{
	z-index: 22;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1339
{
	z-index: 24;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1348
{
	z-index: 26;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1357
{
	z-index: 28;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1366
{
	z-index: 30;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1375
{
	z-index: 32;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1384
{
	z-index: 34;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1393
{
	z-index: 36;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1402
{
	z-index: 38;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1411
{
	z-index: 40;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1420
{
	z-index: 42;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1446
{
	z-index: 44;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1446_img
{
	padding-left: 2px;
	padding-right: 3px;
}

#u1465
{
	z-index: 46;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1474
{
	z-index: 48;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1483
{
	z-index: 50;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1267_img,#u1276_img,#u1285_img,#u1294_img,#u1303_img,#u1312_img,#u1321_img,#u1330_img,#u1339_img,#u1348_img,#u1357_img,#u1366_img,#u1375_img,#u1384_img,#u1393_img,#u1402_img,#u1411_img,#u1420_img,#u1465_img,#u1474_img,#u1483_img
{
	padding-left: 3px;
	padding-right: 3px;
}

#u1006
{
	position: absolute;
	width: 480px;
	top: 410px;
}

#u1006popup
{
	z-index: 52;
}

#u1270
{
	z-index: 53;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1270:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1279
{
	z-index: 55;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u1279:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1288
{
	z-index: 57;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u1288:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1297
{
	z-index: 59;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1297:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1306
{
	z-index: 61;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u1306:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1315
{
	z-index: 63;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1315:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1324
{
	z-index: 65;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u1324:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1270.SSSlideLinkSelected,#u1279.SSSlideLinkSelected,#u1288.SSSlideLinkSelected,#u1297.SSSlideLinkSelected,#u1306.SSSlideLinkSelected,#u1315.SSSlideLinkSelected,#u1324.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1333
{
	z-index: 67;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u1333:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1342
{
	z-index: 69;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u1342:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1351
{
	z-index: 71;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u1351:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1360
{
	z-index: 73;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u1360:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1369
{
	z-index: 75;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u1369:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1378
{
	z-index: 77;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u1378:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1387
{
	z-index: 79;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 420px;
}

#u1387:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1333.SSSlideLinkSelected,#u1342.SSSlideLinkSelected,#u1351.SSSlideLinkSelected,#u1360.SSSlideLinkSelected,#u1369.SSSlideLinkSelected,#u1378.SSSlideLinkSelected,#u1387.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u1396
{
	z-index: 81;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u1396:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1405
{
	z-index: 83;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u1405:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1414
{
	z-index: 85;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 140px;
}

#u1414:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1423
{
	z-index: 87;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 210px;
}

#u1423:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1449
{
	z-index: 89;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 280px;
}

#u1449:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1468
{
	z-index: 91;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 350px;
}

#u1468:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1477
{
	z-index: 93;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 420px;
}

#u1477:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1396.SSSlideLinkSelected,#u1405.SSSlideLinkSelected,#u1414.SSSlideLinkSelected,#u1423.SSSlideLinkSelected,#u1449.SSSlideLinkSelected,#u1468.SSSlideLinkSelected,#u1477.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 110px -10000px 0px 0px;
}

#u1486
{
	z-index: 95;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u1486:hover
{
	border-color: #000000;
	margin: 165px -10000px 0px 0px;
}

#u1486.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 165px -10000px 0px 0px;
}

#u1064-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 175px;
}

#u1064-4popup
{
	z-index: 97;
}

#u1046-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 275px;
}

#u1046-4popup
{
	z-index: 101;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

