.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 400px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#slideshowu631
{
	z-index: 2;
	width: 0.01px;
	height: 574px;
	left: -40px;
	position: relative;
}

#u635-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 205px;
}

#u635-4popup
{
	z-index: 3;
}

#u666
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u666popup
{
	z-index: 7;
}

#u957
{
	z-index: 8;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1570
{
	z-index: 10;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1579
{
	z-index: 12;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1588
{
	z-index: 14;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1597
{
	z-index: 16;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1606
{
	z-index: 18;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1615
{
	z-index: 20;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1624
{
	z-index: 22;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1633
{
	z-index: 24;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1642
{
	z-index: 26;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1651
{
	z-index: 28;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1660
{
	z-index: 30;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1669
{
	z-index: 32;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1678
{
	z-index: 34;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1687
{
	z-index: 36;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1696
{
	z-index: 38;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1723
{
	z-index: 40;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u957_img,#u1570_img,#u1579_img,#u1588_img,#u1597_img,#u1606_img,#u1615_img,#u1624_img,#u1633_img,#u1642_img,#u1651_img,#u1660_img,#u1669_img,#u1678_img,#u1687_img,#u1696_img,#u1723_img
{
	padding-left: 3px;
	padding-right: 3px;
}

#u2151
{
	z-index: 42;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2160
{
	z-index: 44;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2151_img,#u2160_img
{
	padding-left: 2px;
	padding-right: 3px;
}

#u673
{
	position: absolute;
	width: 480px;
	top: 410px;
}

#u673popup
{
	z-index: 46;
}

#u960
{
	z-index: 47;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u960:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1573
{
	z-index: 49;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u1573:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1582
{
	z-index: 51;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u1582:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1591
{
	z-index: 53;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1591:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1600
{
	z-index: 55;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u1600:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1609
{
	z-index: 57;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1609:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1618
{
	z-index: 59;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u1618:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u960.SSSlideLinkSelected,#u1573.SSSlideLinkSelected,#u1582.SSSlideLinkSelected,#u1591.SSSlideLinkSelected,#u1600.SSSlideLinkSelected,#u1609.SSSlideLinkSelected,#u1618.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1627
{
	z-index: 61;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u1627:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1636
{
	z-index: 63;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u1636:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1645
{
	z-index: 65;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u1645:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1654
{
	z-index: 67;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u1654:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1663
{
	z-index: 69;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u1663:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1672
{
	z-index: 71;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u1672:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1681
{
	z-index: 73;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 420px;
}

#u1681:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1627.SSSlideLinkSelected,#u1636.SSSlideLinkSelected,#u1645.SSSlideLinkSelected,#u1654.SSSlideLinkSelected,#u1663.SSSlideLinkSelected,#u1672.SSSlideLinkSelected,#u1681.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u1690
{
	z-index: 75;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u1690:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1699
{
	z-index: 77;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u1699:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1726
{
	z-index: 79;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 140px;
}

#u1726:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u2154
{
	z-index: 81;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 210px;
}

#u2154:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u2163
{
	z-index: 83;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 280px;
}

#u2163:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1690.SSSlideLinkSelected,#u1699.SSSlideLinkSelected,#u1726.SSSlideLinkSelected,#u2154.SSSlideLinkSelected,#u2163.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 110px -10000px 0px 0px;
}

#u637-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 175px;
}

#u637-4popup
{
	z-index: 85;
}

#u665-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 370px;
	left: 275px;
}

#u665-4popup
{
	z-index: 89;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

